{% extends 'BiotechBin/base.html' %}

{% block title %}Preferences - MovieManifest{% endblock %}

{% block content %}
    <h1>User Preferences</h1>
    <p>Select your favorite genres, languages, and other viewing preferences.</p>

    <h1>Choose Your Favorite Genres</h1>
    <form method="post">
        {% csrf_token %}
        <div class="genre-selector">
            {% for genre in genres %}
                <input type="checkbox" name="genres" id="genre_{{ genre }}" value="{{ genre }}" hidden>
                <label class="genre-button" for="genre_{{ genre }}">{{ genre|title }}</label>
            {% endfor %}
        </div>
        <br>

        <label for="language">Preferred Language:</label><br>
        <select name="language" id="language">
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="chinese_m">Chinese - Mandarin</option>
        </select><br><br>

        <button class="button" type="submit">Save Preferences</button>
    </form>
{% endblock %}
